* {
  font-family: Helvetica, Arial, sans-serif;
  text-align:center;
}


h1 {
  color:blue;
  text-align: center;
  background-color: red;
}


p, 
li {
  font-size: 18px;
  text-align:center;
}


a {
  text-decoration: none;
}

